<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oa.mapper.SysOaPurposeMapper">

    <resultMap type="com.ruoyi.oa.domain.SysOaPurpose" id="SysOaPurposeResult">
        <result property="purposeId" column="purpose_id"/>
        <result property="purposeTitle" column="purpose_title"/>
        <result property="subhead" column="subhead"/>
        <result property="budget" column="budget"/>
        <result property="content" column="content"/>
        <result property="purposeTime" column="purpose_time"/>
        <result property="isBid" column="is_bid"/>
        <result property="accessory" column="accessory"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
